<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>933563029832-l88vm1m7r581evs0ina41i78tlm5f5sb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.933563029832-l88vm1m7r581evs0ina41i78tlm5f5sb</string>
	<key>API_KEY</key>
	<string>AIzaSyA7tAWWH7IdUf6cA_ftY30JWUqyKjv3AeU</string>
	<key>GCM_SENDER_ID</key>
	<string>933563029832</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.callor.firebase</string>
	<key>PROJECT_ID</key>
	<string>flutter-my-app-c54d1</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-my-app-c54d1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:933563029832:ios:b2f276964bbef380f5bb7d</string>
</dict>
</plist>